$ui-img: url('../../assets/images/ui.png');
$header-bg: url('../../assets/images/header-bg.png');

// fonts
$font-base: "Arial";
$font-extra: "Myriad Pro";
//$font-headers: "";
$font-bold: "Roboto Bold";
$font-thin: "Roboto Thin";

// font size
$font-size-base: 14px;

// colors
$link-color: #333399;

$white: #FFF;
$black: #000;
$light-violet: #949cd7;

// grid
$low-tide: 970px;
$middle-tide: 920px;
$semi-tide: 740px;
$high-tide: 415px;
$ultra-tide: 361px;