/* NAVIGATION styles */
.main-nav__wrapper {
	position: fixed; left: 0; right: 0; top: 0; bottom: 0;
	display: none;
	//min-width: 260px;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 10000;
	overflow: hidden;
}
nav {
	ul {
		list-style: none;
		padding: 0; margin: 0;
		@include susy-clearfix;
	}
	&.main-nav {
		position: absolute; top: 0; bottom: 0;
		height: 100%; width: 299px;
		background: rgba(255, 255, 255, 0.7);
		
		@include susy-breakpoint($low-tide) {
			@include span(full);
			position: relative;
			background: none;
		};
		ul {
			&.main-nav__lv-1 {
				li {
					&.main-nav__item {
						position: relative;
						@include span(full);
						@include susy-breakpoint($low-tide) {
							@include span(8 of 40);
						};
						&:last-child {
							@include last;
						}
						&.active, &:hover {
							> a {
								color: $white;
								background: $light-violet;
								border-top: 3px $link-color solid;
								&:after { background-image: $ui-img;}
							}
						}

						> a {
							display: block;
							color: $link-color; font-size: $font-size-base;
							text-decoration: none; text-transform: uppercase; text-align: center;
							padding: 23px 0 10px;
							border-top: 3px rgba(255,255,255, 0) solid;
							&:after {
								display: inline-block;
								width: 7px; height: 4px;
								vertical-align: middle;
								content: "";
								margin-left: 5px;
								background-image: none;
								background-position: 0px 0px;
								
							}
						}	
					}
					
				}	
			}
			&.main-nav__dropdown {
				display: none;
				padding: 20px 0;
				border: 3px #939cd7 solid;
				background: $white;
				
				@include susy-breakpoint($low-tide) {
					position: absolute; left: 0; top: 100%;
					z-index: 200;
				};
				
				li {
					
					a {
						display: block;
						color: $black; font-family: $font-base; font-size: $font-size-base;
						text-decoration: none; white-space: nowrap;
						padding: 10px 30px;
						&:hover {
							color: $white;
							background: #939cd7;
						}
					}
					//position: absolute;
				}
			}
			
		}
		
		
	}
	&.sub-nav {
		padding-bottom: 60px;
		margin-left: auto; margin-right: auto;
		width: 40%; min-width: 240px;
		@include susy-breakpoint($low-tide) { width: 100%; }
		@include susy-breakpoint($high-tide) { margin-top: -22px; }
		li {
			@include span(full);
			height: 145px; min-width: 240px; 
			font-family: $font-thin; font-size: 26px;
			text-transform: uppercase; line-height: 1em; text-align: left;
			margin:0 5px 5px;
			background-repeat: no-repeat;
			background-position: 100% 100%;
			@include susy-breakpoint($low-tide) {
				@include span(3 of 9 inside no-gutters);
				margin: 0;
			}
			
			
			a {
				display: block;
				width: 100%; height: 145px;
				color: $white;
				text-decoration: none;
				padding: 50px 0 0 15%;
				&:hover {
					border-top: 10px #364ca0 solid;
					padding-top: 40px;
				}
			}
			&.classic {
				background-color: #7d6e85;
				background-image: url('../../assets/images/kitchen-classic.png');
			}
			&.modern {
				background-color: #949cd7;
				background-image: url('../../assets/images/kitchen-modern.png');
				
			}
			&.elite {
				background-color: #5c5f82;
				background-image: url('../../assets/images/kitchen-elite.png');
			}
		}
	}
	&.square-nav {
		.row {
			@include susy-clearfix;
			
		}
		.column_1_2 {
			height: 190px;
			@include span(5 of 10 inside no-gutters);
			@include susy-breakpoint($high-tide) { height: 250px; }
			
			&.modern {
				background: url('../../assets/images/pattern_01.png') -20px -5px;
			}
			&.elite {
				background: url('../../assets/images/pattern_03.png');
			}
		}
		.column_1 {
			position: relative;
			overflow: hidden;
			margin: 0 5px 3px;
			background: #c3c5e4;
			@include susy-clearfix;
			@include susy-breakpoint($high-tide) {
				@include span(5 of 10 inside no-gutters);
				margin: 0;
			}
			&.classic {
				.column_1_2 {
					background: #949cd7 url('../../assets/images/pattern_02.png') 100% 100% no-repeat; 
				}
				a {
					span { background: #7d6e85; }
					&:hover {
						span { background: #5c5f82; }
					}
				}
			}
		}
		.square-nav__img {
			overflow: hidden;
			text-align: center;
			@include susy-breakpoint($high-tide) { height: 250px; }
			img {
				display: inline-block;
				width:100%; min-width: 196px; height:100%; min-height: 190px;

			}
		}
		.square-nav__name {
			height: 250px;
			font-family: $font-bold; font-size: 18px; color: $white;
			text-transform: uppercase;
			padding-top: 108px;
			
		}

		a {
			position: absolute; left:0; top: 0; right: 0; bottom:0;
			text-align: center; text-decoration: none;
			padding-top: 40px;
			z-index: 10;
			span {
				display: inline-block;
				width: 50%;
				color: $white; font-family: $font-thin; font-size: 16px;
				text-transform: uppercase;
				padding: 10px 20px;
				background: #949cd7;
			}
			&:hover {
				padding-top: 29px;
				border: 2px #364ca0 solid;
				border-top: 11px #364ca0 solid;
				//border-top: 6px $link-color solid;
				//border-top: 6px $link-color solid;

				span {
					background: #5c5f82;
				}
			}
		}
	}
	&.footer-nav {
		@include susy-clearfix;
		> div {
			text-align: center;
			@include susy-breakpoint($semi-tide) {
				@include span(2 of 12 inside);
				text-align: left;
			}
			
		}
	}
}