/* TABS styles */

.tabs {
	@include container(80%);
	@include susy-breakpoint($high-tide) {
		@include container(40%);
	};
	> div {
		@include span(5 of 10 inside);
		font-weight: bold; font-size: 14px;
		padding-top: 10px; padding-bottom: 10px;
		background: $white;
		cursor: pointer;
		white-space: nowrap;
		@include susy-breakpoint($high-tide) {
			font-size: 18px;
		};
		&:hover {
			color: $link-color;
		}
		&.active {
			background: #e5e5e5;
		}
	}

}
.tabs__content {
	@include container(100%);
	min-width: $ultra-tide;
	padding: 35px 0 10px;
	background: #e5e5e5;
	.container {
		@include container($high-tide);
		@include susy-breakpoint($low-tide) { 
			@include container(1024px);
		}	
		
		min-width: $ultra-tide;
	}
	.item {
		display: none;
		&.active {
			display: block;
		}
	}
	ul {
		@include susy-clearfix;
		list-style: none;
		padding: 0; margin: 0;
		li {
			position: relative;
			margin-bottom: 60px;
			@include span(full);
			@include susy-breakpoint($high-tide) {
				@include span(5 of 10 inside);
			}
			@include susy-breakpoint($low-tide) {
				height: 252px;
				@include span(3 of 12);
				padding: 0;
			};	
									
			a {
				position: absolute; left: 0; top: 0; bottom: 0; right: 0;
				display: block;
				color: #3a353c;
				text-align: center; text-decoration: none;
				
				
			}
			span {
				display: block;
				position: absolute; top: 105%; left: 0; right: 0;
				font-weight: bold; font-family: $font-extra; font-size: 16px;
				text-transform: uppercase;
				margin-top: 10px;
				padding: 0 3px;
				a:hover { border: 0;}
			}
			img {
				display: none;
				@include susy-breakpoint($high-tide) {
					display: inline-block;
					width: 100%;
					height: 100%;
				}
				
			}
			&:last-child {
				@include last;
			}
			&:hover {
				a {
					@include susy-breakpoint($high-tide) {
						color: #364ca0;
						border: 5px $link-color solid;
					}
					
				}
				span { a {border: 0; color: #364ca0; }}
			}
		}
	}
}