.carousel__wrapper {
	padding-bottom: 150px;
	width: 320px;
	@include susy-breakpoint(640px) {
		width: 450px;
		display: block;
	}
	@include susy-breakpoint(1010px) {
		width: auto;
		display: block;
	}
	//@include susy-breakpoint($ultra-tide) { }
	.carousel {
		.text {
			display: none;
			position: absolute;
			left: 0; bottom: 100%;
			width: 320px;
			text-align: left;
			padding-left: 20px; padding-top: 10px;
			@include susy-breakpoint(640px) {
				width: 438px;
			}
			@include susy-breakpoint(1010px) {
				left: 100%; top: 0;
				width: 358px;
			}
			h4 { margin-top: 0;}
			p { font-family: $font-base; color: $black;}
		}
	}
	.carousel__item {
		position: relative;
		height: 1px; width: 175px;
		//background: #8691c8;
		vertical-align: bottom;
		@include susy-breakpoint(640px) {
			height: 350px;
		}
		
		img {
			position: absolute; left: 0; bottom: 0;
			display: none;
			@include susy-breakpoint(640px) {
				display: inline-block;
			}
			
		}
	}
	.bx-loading {
		background: none;
	}
	.bx-wrapper {
		margin-bottom: 0;
		//max-width: ;
		
		
	}
	.bx-viewport {
		left: 0;
		border: 0;
		box-shadow: none;
		padding-top: 205px;
		overflow: visible !important;
		@include susy-breakpoint(640px) {
			overflow: hidden !important;
			padding-top: 130px;
		}
		@include susy-breakpoint(1010px) {
			padding-top: 0;
		}
	}
	.bx-controls-direction {
		position: absolute; left: 50%; bottom: -75px;
		width: 140px; height: 52px;
		margin-left: -60px;
		> a {
			position: relative;
			display: inline-block;
			background-image: $ui-img;
			width: 52px; height: 52px;
			&.bx-prev {
				float: left;
				@include susy-breakpoint(1225px) {
					margin-left: -10%;
				};
				background-position: 0px -12px;
				&:hover { background-position: -123px -12px; }
			}
			&.bx-next {
				float: right;
				background-position: -66px -12px;
				@include susy-breakpoint(1225px) {
					margin-right: -10%;
				};
				&:hover { background-position: -189px -12px; }
			}
		}
	}
	.bx-pager {
		padding-top: 0;
		bottom: 60px;
		.bx-pager-item {
			a {
				width: 15px; height: 15px;
				background: none;
				border: 2px $white solid;
				border-radius: 8px;
				&.active, &:hover { background: $white; }
			}
		}
	}
}