footer {
	font-family: $font-extra; font-size: $font-size-base;
	padding-bottom: 20px;
	ul { list-style: none; padding: 0; margin: 0;}
	a { color: $link-color;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.footer__copyright {
	@include container(50%);
	text-align: center;
	margin-top: 1.3em; margin-bottom: 1.0em;
}
.footer__social {
	@include container(15%);
	min-width: 130px;
	text-align: center;
	li {
		@include span(3 of 12 inside);

		&:last-child { @include last; }
	}
}