/* GRID styles */
html.pinned {
	overflow: hidden;
}
body {
	&.pinned {
		position: absolute; top: 0; right: 0; bottom: 0; left:0;
		width: 100%;
		overflow: hidden;
	}
	* {
		box-sizing: border-box;
		vertical-align: top;
	}
}
section, .container {
	position: relative;
}
article {
	//padding-bottom: 50px;
}
section, header, footer {
	> .container {
		//min-width: 300px;
		@include container(1024px);
	}
}