/* HEADER styles */
header {
	
	font-family: $font-base; font-weight: bold;
	height: 110px;
	
	@include susy-breakpoint($ultra-tide) {
		background-image: $header-bg;
		height: 100px;
	}
	@include susy-breakpoint($low-tide) {
		background-image: $header-bg;
		background-position: 0 5px;
	}
	.container {
		width: 167px;
		@include susy-breakpoint($ultra-tide) { width: inherit; }
	}
	h1 {
		padding-top: 23px; margin: 0;
		background: $white;
	}
	
	.column_1 {
		//@include span(5 of 10);
		@include span(full);
		@include susy-breakpoint($low-tide) {
			@include span(3 of 15);
		}
	}
	.column_2 {
		//@include span(full);
		@include susy-breakpoint($low-tide) {
			@include span(9 of 15);
			
		}
	}
	.column_3 {
		position: absolute; top: 37px; left: 50%;
		transform: translateX(-50%);
		min-width: 170px;
		@include span(full);
		@include nested(10) {
			@include span(5 of 10 last);
		}
		@include susy-breakpoint(394px) {
			top: 0; right: 0; left: auto;
			text-align: right;
			transform: none;
		}
		@include susy-breakpoint($low-tide) {
			@include span(3 of 15);
			@include last;
		}	
	}
	.logo {
		display: inline-block;
		width: 152px; height: 60px;
		@include susy-breakpoint($ultra-tide) { margin-left: 80px; }
		@include susy-breakpoint($low-tide) {
			width: 177px; height: 70px;
			margin-left: 0; 
		}
		img { width: 100%; height: 100%; }
			
		
	}
	.main-nav {
		padding-top: 93px;
		@include susy-breakpoint($low-tide) {
			padding-top: 23px;
		}
	}
	.phone {
		margin-top: 24px; padding-top: 23px;
		span { font-weight: normal; }
		&:before {
			display: inline-block;
			position: relative; top: 2px;
			width: 15px; height: 16px;
			//vertical-align: middle;
			content: "";
			margin-right: 5px;
			background-position: 0px -108px;
			background-image: $ui-img;
		}
	}
	.button {
		&.default-menu {
			position: fixed;
			left: 10px; top: 23px;
			z-index: 11000;
			@include susy-breakpoint($low-tide) {
				display: none;
			}
		}
	}

}