.slider {
	overflow: hidden;
	display: none;
	@include susy-breakpoint(415px) { // iPhone 6 Plus
		display: block;
	}
	.container {
		max-width: 1064px;
	}
	.slider__item {
		position: relative;
		opacity: 0.6;
		&.active { opacity: 1;}
		.text {
			display: none;
			font-size: 10px;
			position: absolute; top: 50%;
			transform: translateY(-50%);
			text-transform: uppercase; text-align: right;
			padding: 2.5em 1.2em 2.5em 2em;
			background: rgba(255,255,255, 0.6);
			z-index: 10000;
			@include susy-breakpoint($high-tide) {
				right: 9em;
				font-size: 12px;
			};
			h2 {
				color: #364da0; font-size: 2.1em; font-family: $font-thin;
				margin-bottom: 0;
				&.bold {
					font-size: 1.6em; font-family: $font-bold;
				}
				@include susy-breakpoint($semi-tide) {
					font-size: 4.2em; font-size: 3.8em;
					&.bold {
						font-size: 3.2em;
					}
				}
			}
			p {
				font-size: 1em; color: #364da0; font-family: $font-bold;
			}
		}
	}
	.bx-wrapper { margin-bottom: 0; }
	.bx-viewport {
		left: 0;
		border: 0;
		box-shadow: none;
		overflow: visible !important;
	}
	.bx-controls-direction {
		position: absolute; left: 0; top: 50%;
		width: 100%; height: 52px;
		margin-top: -26px;
		> a {
			position: relative;
			display: inline-block;
			background-image: $ui-img;
			width: 52px; height: 52px;
			&.bx-prev {
				float: left;
				@include susy-breakpoint(1225px) {
					margin-left: -10%;
				};
				background-position: 0px -12px;
				&:hover { background-position: -313px -12px; }
			}
			&.bx-next {
				float: right;
				background-position: -66px -12px;
				@include susy-breakpoint(1225px) {
					margin-right: -10%;
				};
				&:hover { background-position: -252px -12px; }
			}
		}
	}
	.bx-pager {
		padding-top: 0;
		bottom: 30px;
		@include susy-breakpoint($semi-tide) {
			bottom: 60px;
		}
		.bx-pager-item {
			a {
				width: 15px; height: 15px;
				background: none;
				border: 2px $white solid;
				border-radius: 8px;
				&.active, &:hover { background: $white; }
			}
		}
	}
}