h2 {
	font-size: 30px; font-family: $font-bold; color: #3a353c;
	text-transform: uppercase;
	margin-top: 0;
	&.blue {
		color: #364da0; font-family: $font-thin;
	}
}
h4 {
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 2.1em; margin-bottom: 0.7em;
}

.text {
	p {
		font-size: $font-size-base;
		margin: 0;
	}
}