/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
/* ==========================================================================
 Media Queries
 ========================================================================== */
/* ==========================================================================
 Helper classes
 ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
 Print styles
 ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

h2 {
  font-size: 30px;
  font-family: "Roboto Bold";
  color: #3a353c;
  text-transform: uppercase;
  margin-top: 0;
}
h2.blue {
  color: #364da0;
  font-family: "Roboto Thin";
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 2.1em;
  margin-bottom: 0.7em;
}

.text p {
  font-size: 14px;
  margin: 0;
}

/* ICONS & BUTTONS styles */
.icon {
  display: inline-block;
  background-image: url("../../assets/images/ui.png");
}
.icon.controls {
  width: 52px;
  height: 52px;
}
.icon.controls.prev {
  background-position: 0px -12px;
}
.icon.controls.next {
  background-position: -66px -12px;
}
.icon.triangle {
  width: 7px;
  height: 4px;
}
.icon.triangle.bottom {
  background-position: 0px 0px;
}
.icon.social {
  width: 29px;
  height: 29px;
}
.icon.social.vk {
  background-position: -1px -71px;
}
.icon.social.lol {
  background-position: -41px -71px;
}
.icon.social.tw {
  background-position: -82px -71px;
}
.icon.social.odnokl {
  background-position: -123px -71px;
}
.icon.phone.black {
  width: 15px;
  height: 16px;
  background-position: 0px -108px;
}

.button {
  display: inline-block;
  background-image: url("../../assets/images/ui.png");
}
.button.default-menu {
  width: 60px;
  height: 60px;
  background-position: -380px -6px;
  cursor: pointer;
}

/* NAVIGATION styles */
.main-nav__wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000;
  overflow: hidden;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul:after {
  content: " ";
  display: block;
  clear: both;
}
nav.main-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 299px;
  background: rgba(255, 255, 255, 0.7);
}
@media (min-width: 970px) {
  nav.main-nav {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    background: none;
  }
}
nav.main-nav ul.main-nav__lv-1 li.main-nav__item {
  position: relative;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 970px) {
  nav.main-nav ul.main-nav__lv-1 li.main-nav__item {
    width: 19.59799%;
    float: left;
    margin-right: 0.50251%;
  }
}
nav.main-nav ul.main-nav__lv-1 li.main-nav__item:last-child {
  float: right;
  margin-right: 0;
}
nav.main-nav ul.main-nav__lv-1 li.main-nav__item.active > a, nav.main-nav ul.main-nav__lv-1 li.main-nav__item:hover > a {
  color: #FFF;
  background: #949cd7;
  border-top: 3px #333399 solid;
}
nav.main-nav ul.main-nav__lv-1 li.main-nav__item.active > a:after, nav.main-nav ul.main-nav__lv-1 li.main-nav__item:hover > a:after {
  background-image: url("../../assets/images/ui.png");
}
nav.main-nav ul.main-nav__lv-1 li.main-nav__item > a {
  display: block;
  color: #333399;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 23px 0 10px;
  border-top: 3px rgba(255, 255, 255, 0) solid;
}
nav.main-nav ul.main-nav__lv-1 li.main-nav__item > a:after {
  display: inline-block;
  width: 7px;
  height: 4px;
  vertical-align: middle;
  content: "";
  margin-left: 5px;
  background-image: none;
  background-position: 0px 0px;
}
nav.main-nav ul.main-nav__dropdown {
  display: none;
  padding: 20px 0;
  border: 3px #939cd7 solid;
  background: #FFF;
}
@media (min-width: 970px) {
  nav.main-nav ul.main-nav__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 200;
  }
}
nav.main-nav ul.main-nav__dropdown li a {
  display: block;
  color: #000;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  padding: 10px 30px;
}
nav.main-nav ul.main-nav__dropdown li a:hover {
  color: #FFF;
  background: #939cd7;
}
nav.sub-nav {
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-width: 240px;
}
@media (min-width: 970px) {
  nav.sub-nav {
    width: 100%;
  }
}
@media (min-width: 415px) {
  nav.sub-nav {
    margin-top: -22px;
  }
}
nav.sub-nav li {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 145px;
  min-width: 240px;
  font-family: "Roboto Thin";
  font-size: 26px;
  text-transform: uppercase;
  line-height: 1em;
  text-align: left;
  margin: 0 5px 5px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
@media (min-width: 970px) {
  nav.sub-nav li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    margin: 0;
  }
}
nav.sub-nav li a {
  display: block;
  width: 100%;
  height: 145px;
  color: #FFF;
  text-decoration: none;
  padding: 50px 0 0 15%;
}
nav.sub-nav li a:hover {
  border-top: 10px #364ca0 solid;
  padding-top: 40px;
}
nav.sub-nav li.classic {
  background-color: #7d6e85;
  background-image: url("../../assets/images/kitchen-classic.png");
}
nav.sub-nav li.modern {
  background-color: #949cd7;
  background-image: url("../../assets/images/kitchen-modern.png");
}
nav.sub-nav li.elite {
  background-color: #5c5f82;
  background-image: url("../../assets/images/kitchen-elite.png");
}
nav.square-nav .row:after {
  content: " ";
  display: block;
  clear: both;
}
nav.square-nav .column_1_2 {
  height: 190px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
@media (min-width: 415px) {
  nav.square-nav .column_1_2 {
    height: 250px;
  }
}
nav.square-nav .column_1_2.modern {
  background: url("../../assets/images/pattern_01.png") -20px -5px;
}
nav.square-nav .column_1_2.elite {
  background: url("../../assets/images/pattern_03.png");
}
nav.square-nav .column_1 {
  position: relative;
  overflow: hidden;
  margin: 0 5px 3px;
  background: #c3c5e4;
}
nav.square-nav .column_1:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 415px) {
  nav.square-nav .column_1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin: 0;
  }
}
nav.square-nav .column_1.classic .column_1_2 {
  background: #949cd7 url("../../assets/images/pattern_02.png") 100% 100% no-repeat;
}
nav.square-nav .column_1.classic a span {
  background: #7d6e85;
}
nav.square-nav .column_1.classic a:hover span {
  background: #5c5f82;
}
nav.square-nav .square-nav__img {
  overflow: hidden;
  text-align: center;
}
@media (min-width: 415px) {
  nav.square-nav .square-nav__img {
    height: 250px;
  }
}
nav.square-nav .square-nav__img img {
  display: inline-block;
  width: 100%;
  min-width: 196px;
  height: 100%;
  min-height: 190px;
}
nav.square-nav .square-nav__name {
  height: 250px;
  font-family: "Roboto Bold";
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
  padding-top: 108px;
}
nav.square-nav a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  padding-top: 40px;
  z-index: 10;
}
nav.square-nav a span {
  display: inline-block;
  width: 50%;
  color: #FFF;
  font-family: "Roboto Thin";
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
  background: #949cd7;
}
nav.square-nav a:hover {
  padding-top: 29px;
  border: 2px #364ca0 solid;
  border-top: 11px #364ca0 solid;
}
nav.square-nav a:hover span {
  background: #5c5f82;
}
nav.footer-nav:after {
  content: " ";
  display: block;
  clear: both;
}
nav.footer-nav > div {
  text-align: center;
}
@media (min-width: 740px) {
  nav.footer-nav > div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    text-align: left;
  }
}

/* TABS styles */
.tabs {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.tabs:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 415px) {
  .tabs {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .tabs:after {
    content: " ";
    display: block;
    clear: both;
  }
}
.tabs > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FFF;
  cursor: pointer;
  white-space: nowrap;
}
@media (min-width: 415px) {
  .tabs > div {
    font-size: 18px;
  }
}
.tabs > div:hover {
  color: #333399;
}
.tabs > div.active {
  background: #e5e5e5;
}

.tabs__content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 361px;
  padding: 35px 0 10px;
  background: #e5e5e5;
}
.tabs__content:after {
  content: " ";
  display: block;
  clear: both;
}
.tabs__content .container {
  max-width: 415px;
  margin-left: auto;
  margin-right: auto;
  min-width: 361px;
}
.tabs__content .container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 970px) {
  .tabs__content .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  .tabs__content .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
.tabs__content .item {
  display: none;
}
.tabs__content .item.active {
  display: block;
}
.tabs__content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs__content ul:after {
  content: " ";
  display: block;
  clear: both;
}
.tabs__content ul li {
  position: relative;
  margin-bottom: 60px;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 415px) {
  .tabs__content ul li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media (min-width: 970px) {
  .tabs__content ul li {
    height: 252px;
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    padding: 0;
  }
}
.tabs__content ul li a {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  color: #3a353c;
  text-align: center;
  text-decoration: none;
}
.tabs__content ul li span {
  display: block;
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  font-weight: bold;
  font-family: "Myriad Pro";
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 3px;
}
.tabs__content ul li span a:hover {
  border: 0;
}
.tabs__content ul li img {
  display: none;
}
@media (min-width: 415px) {
  .tabs__content ul li img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.tabs__content ul li:last-child {
  float: right;
  margin-right: 0;
}
@media (min-width: 415px) {
  .tabs__content ul li:hover a {
    color: #364ca0;
    border: 5px #333399 solid;
  }
}
.tabs__content ul li:hover span a {
  border: 0;
  color: #364ca0;
}

/* GRID styles */
html.pinned {
  overflow: hidden;
}

body.pinned {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
body * {
  box-sizing: border-box;
  vertical-align: top;
}

section, .container {
  position: relative;
}

section > .container, header > .container, footer > .container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
section > .container:after, header > .container:after, footer > .container:after {
  content: " ";
  display: block;
  clear: both;
}

/* HEADER styles */
header {
  font-family: "Arial";
  font-weight: bold;
  height: 110px;
}
@media (min-width: 361px) {
  header {
    background-image: url("../../assets/images/header-bg.png");
    height: 100px;
  }
}
@media (min-width: 970px) {
  header {
    background-image: url("../../assets/images/header-bg.png");
    background-position: 0 5px;
  }
}
header .container {
  width: 167px;
}
@media (min-width: 361px) {
  header .container {
    width: inherit;
  }
}
header h1 {
  padding-top: 23px;
  margin: 0;
  background: #FFF;
}
header .column_1 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 970px) {
  header .column_1 {
    width: 18.91892%;
    float: left;
    margin-right: 1.35135%;
  }
}
@media (min-width: 970px) {
  header .column_2 {
    width: 59.45946%;
    float: left;
    margin-right: 1.35135%;
  }
}
header .column_3 {
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 170px;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 48.97959%;
  float: right;
  margin-right: 0;
}
@media (min-width: 394px) {
  header .column_3 {
    top: 0;
    right: 0;
    left: auto;
    text-align: right;
    transform: none;
  }
}
@media (min-width: 970px) {
  header .column_3 {
    width: 18.91892%;
    float: left;
    margin-right: 1.35135%;
    float: right;
    margin-right: 0;
  }
}
header .logo {
  display: inline-block;
  width: 152px;
  height: 60px;
}
@media (min-width: 361px) {
  header .logo {
    margin-left: 80px;
  }
}
@media (min-width: 970px) {
  header .logo {
    width: 177px;
    height: 70px;
    margin-left: 0;
  }
}
header .logo img {
  width: 100%;
  height: 100%;
}
header .main-nav {
  padding-top: 93px;
}
@media (min-width: 970px) {
  header .main-nav {
    padding-top: 23px;
  }
}
header .phone {
  margin-top: 24px;
  padding-top: 23px;
}
header .phone span {
  font-weight: normal;
}
header .phone:before {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 15px;
  height: 16px;
  content: "";
  margin-right: 5px;
  background-position: 0px -108px;
  background-image: url("../../assets/images/ui.png");
}
header .button.default-menu {
  position: fixed;
  left: 10px;
  top: 23px;
  z-index: 11000;
}
@media (min-width: 970px) {
  header .button.default-menu {
    display: none;
  }
}

footer {
  font-family: "Myriad Pro";
  font-size: 14px;
  padding-bottom: 20px;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer a {
  color: #333399;
  text-decoration: underline;
}
footer a:hover {
  text-decoration: none;
}

.footer__copyright {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 1.3em;
  margin-bottom: 1.0em;
}
.footer__copyright:after {
  content: " ";
  display: block;
  clear: both;
}

.footer__social {
  max-width: 15%;
  margin-left: auto;
  margin-right: auto;
  min-width: 130px;
  text-align: center;
}
.footer__social:after {
  content: " ";
  display: block;
  clear: both;
}
.footer__social li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
.footer__social li:last-child {
  float: right;
  margin-right: 0;
}

.slider {
  overflow: hidden;
  display: none;
}
@media (min-width: 415px) {
  .slider {
    display: block;
  }
}
.slider .container {
  max-width: 1064px;
}
.slider .slider__item {
  position: relative;
  opacity: 0.6;
}
.slider .slider__item.active {
  opacity: 1;
}
.slider .slider__item .text {
  display: none;
  font-size: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  text-align: right;
  padding: 2.5em 1.2em 2.5em 2em;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10000;
}
@media (min-width: 415px) {
  .slider .slider__item .text {
    right: 9em;
    font-size: 12px;
  }
}
.slider .slider__item .text h2 {
  color: #364da0;
  font-size: 2.1em;
  font-family: "Roboto Thin";
  margin-bottom: 0;
}
.slider .slider__item .text h2.bold {
  font-size: 1.6em;
  font-family: "Roboto Bold";
}
@media (min-width: 740px) {
  .slider .slider__item .text h2 {
    font-size: 4.2em;
    font-size: 3.8em;
  }
  .slider .slider__item .text h2.bold {
    font-size: 3.2em;
  }
}
.slider .slider__item .text p {
  font-size: 1em;
  color: #364da0;
  font-family: "Roboto Bold";
}
.slider .bx-wrapper {
  margin-bottom: 0;
}
.slider .bx-viewport {
  left: 0;
  border: 0;
  box-shadow: none;
  overflow: visible !important;
}
.slider .bx-controls-direction {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 52px;
  margin-top: -26px;
}
.slider .bx-controls-direction > a {
  position: relative;
  display: inline-block;
  background-image: url("../../assets/images/ui.png");
  width: 52px;
  height: 52px;
}
.slider .bx-controls-direction > a.bx-prev {
  float: left;
  background-position: 0px -12px;
}
@media (min-width: 1225px) {
  .slider .bx-controls-direction > a.bx-prev {
    margin-left: -10%;
  }
}
.slider .bx-controls-direction > a.bx-prev:hover {
  background-position: -313px -12px;
}
.slider .bx-controls-direction > a.bx-next {
  float: right;
  background-position: -66px -12px;
}
@media (min-width: 1225px) {
  .slider .bx-controls-direction > a.bx-next {
    margin-right: -10%;
  }
}
.slider .bx-controls-direction > a.bx-next:hover {
  background-position: -252px -12px;
}
.slider .bx-pager {
  padding-top: 0;
  bottom: 30px;
}
@media (min-width: 740px) {
  .slider .bx-pager {
    bottom: 60px;
  }
}
.slider .bx-pager .bx-pager-item a {
  width: 15px;
  height: 15px;
  background: none;
  border: 2px #FFF solid;
  border-radius: 8px;
}
.slider .bx-pager .bx-pager-item a.active, .slider .bx-pager .bx-pager-item a:hover {
  background: #FFF;
}

.carousel__wrapper {
  padding-bottom: 150px;
  width: 320px;
}
@media (min-width: 640px) {
  .carousel__wrapper {
    width: 450px;
    display: block;
  }
}
@media (min-width: 1010px) {
  .carousel__wrapper {
    width: auto;
    display: block;
  }
}
.carousel__wrapper .carousel .text {
  display: none;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 320px;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}
@media (min-width: 640px) {
  .carousel__wrapper .carousel .text {
    width: 438px;
  }
}
@media (min-width: 1010px) {
  .carousel__wrapper .carousel .text {
    left: 100%;
    top: 0;
    width: 358px;
  }
}
.carousel__wrapper .carousel .text h4 {
  margin-top: 0;
}
.carousel__wrapper .carousel .text p {
  font-family: "Arial";
  color: #000;
}
.carousel__wrapper .carousel__item {
  position: relative;
  height: 1px;
  width: 175px;
  vertical-align: bottom;
}
@media (min-width: 640px) {
  .carousel__wrapper .carousel__item {
    height: 350px;
  }
}
.carousel__wrapper .carousel__item img {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
}
@media (min-width: 640px) {
  .carousel__wrapper .carousel__item img {
    display: inline-block;
  }
}
.carousel__wrapper .bx-loading {
  background: none;
}
.carousel__wrapper .bx-wrapper {
  margin-bottom: 0;
}
.carousel__wrapper .bx-viewport {
  left: 0;
  border: 0;
  box-shadow: none;
  padding-top: 205px;
  overflow: visible !important;
}
@media (min-width: 640px) {
  .carousel__wrapper .bx-viewport {
    overflow: hidden !important;
    padding-top: 130px;
  }
}
@media (min-width: 1010px) {
  .carousel__wrapper .bx-viewport {
    padding-top: 0;
  }
}
.carousel__wrapper .bx-controls-direction {
  position: absolute;
  left: 50%;
  bottom: -75px;
  width: 140px;
  height: 52px;
  margin-left: -60px;
}
.carousel__wrapper .bx-controls-direction > a {
  position: relative;
  display: inline-block;
  background-image: url("../../assets/images/ui.png");
  width: 52px;
  height: 52px;
}
.carousel__wrapper .bx-controls-direction > a.bx-prev {
  float: left;
  background-position: 0px -12px;
}
@media (min-width: 1225px) {
  .carousel__wrapper .bx-controls-direction > a.bx-prev {
    margin-left: -10%;
  }
}
.carousel__wrapper .bx-controls-direction > a.bx-prev:hover {
  background-position: -123px -12px;
}
.carousel__wrapper .bx-controls-direction > a.bx-next {
  float: right;
  background-position: -66px -12px;
}
@media (min-width: 1225px) {
  .carousel__wrapper .bx-controls-direction > a.bx-next {
    margin-right: -10%;
  }
}
.carousel__wrapper .bx-controls-direction > a.bx-next:hover {
  background-position: -189px -12px;
}
.carousel__wrapper .bx-pager {
  padding-top: 0;
  bottom: 60px;
}
.carousel__wrapper .bx-pager .bx-pager-item a {
  width: 15px;
  height: 15px;
  background: none;
  border: 2px #FFF solid;
  border-radius: 8px;
}
.carousel__wrapper .bx-pager .bx-pager-item a.active, .carousel__wrapper .bx-pager .bx-pager-item a:hover {
  background: #FFF;
}

.motion__wrapper {
  display: none;
}
@media (min-width: 960px) {
  .motion__wrapper {
    display: block;
  }
}

.motion {
  position: relative;
}
.motion img {
  display: inline-block;
  position: absolute;
  left: 50%;
}

body.main section {
  text-align: center;
}
body.main section.order article {
  padding: 30px 0;
  background: #FFF;
}
@media (min-width: 960px) {
  body.main section.order article:first-child {
    margin-top: -120px;
  }
}
body.main section.order article .text {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
body.main section.order article .text:after {
  content: " ";
  display: block;
  clear: both;
}

.ui article:after {
  content: " ";
  display: block;
  clear: both;
}
.ui .col-1 {
  width: 8.16327%;
  float: left;
  margin-right: 2.04082%;
}
.ui .col-2 {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}

/*# sourceMappingURL=main.css.map */
